.navbar {
  width: 100%;
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li {
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover {
  color: yellow;
}
